<div class="event-container">
  <div class="logo">
    <img src="../../../assets/Images/Leaf.png" alt="Leaf" />
    <a class="main-title" routerLink="/"><h1>last of us</h1></a>

    <H2>TICKETS</H2>
  </div>
  <search-criteria (filterSearch)="getFilterResults($event)"></search-criteria>

  <div *ngIf="events">
    <div *ngIf="!events">
      <mat-spinner></mat-spinner>
    </div>
    <!-- below this is the error for when no results are found -->
    <h2 *ngIf="events.length === 0">No results found</h2>
    <!-- below this is the displayed events -->
    <div class="grid-container">
      <app-event-card [event]="event" *ngFor="let event of events">
      </app-event-card>
    </div>
  </div>
</div>
