<form [formGroup]="filterForm">
  <!-- form wrapper-->
  <div class="form-container">
    <!-- form header -->
    <div class="form-header">
      <h3>Search Filters</h3>
    </div>
    <!-- all the search criteria -->
    <div class="form-body">
      <!-- search bar -->
      <mat-form-field class="search-bar form-group">
        <mat-label for="searchBar">Search Bar</mat-label>
        <input
          matInput
          (keyup)="searchFilter()"
          type="text"
          id="searchBar"
          class="form-control"
          formControlName="searchBar"
        />
      </mat-form-field>
      <!-- categories -->
      <mat-form-field class="cat-select form-group">
        <mat-label>Choose a Category</mat-label>
        <mat-select
          [(ngModel)]="categorySwitch"
          (change)="searchFilter()"
          formControlName="categoryID"
        >
          <mat-option value="">None</mat-option>
          <mat-option
            *ngFor="let segment of segments"
            value="{{ segment.segment.id }}"
            >{{ segment.segment.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <!-- genre dropdowns -->
      <div class="form-group">
        <!-- misc dropdown -->
        <div
          *ngIf="categorySwitch === 'KZFzniwnSyZfZ7v7n1'"
          class="misc-dropdown"
        >
          <select
            (change)="searchFilter()"
            name="misc"
            id="misc"
            formControlName="genreID"
          >
            <option value="">CHOOSE GENRE</option>
            <option *ngFor="let mis of misc" value="{{ mis.id }}">{{
              mis.name
            }}</option>
          </select>
        </div>
        <!-- sports dropdown -->
        <div
          *ngIf="categorySwitch === 'KZFzniwnSyZfZ7v7nE'"
          class="sports-dropdown"
        >
          <select
            (change)="searchFilter()"
            name="sports"
            id="sports"
            formControlName="genreID"
          >
            <option value="">CHOOSE GENRE</option>
            <option *ngFor="let sport of sports" value="{{ sport.id }}">{{
              sport.name
            }}</option>
          </select>
        </div>
        <!-- music dropdown -->
        <div
          *ngIf="categorySwitch === 'KZFzniwnSyZfZ7v7nJ'"
          class="music-dropdown"
        >
          <select
            (change)="searchFilter()"
            name="music"
            id="music"
            formControlName="genreID"
          >
            <option value="">CHOOSE GENRE</option>
            <option *ngFor="let muse of music" value="{{ muse.id }}">{{
              muse.name
            }}</option>
          </select>
        </div>
        <!-- arts & theatre dropdown -->
        <div
          *ngIf="categorySwitch === 'KZFzniwnSyZfZ7v7na'"
          class="artsTheatre-dropdown"
        >
          <select
            (change)="searchFilter()"
            name="artsTheatre"
            id="artsTheatre"
            formControlName="genreID"
          >
            <option value="">CHOOSE GENRE</option>
            <option
              *ngFor="let theatre of artsTheatre"
              value="{{ theatre.id }}"
              >{{ theatre.name }}</option
            >
          </select>
        </div>
        <!-- films dropdown -->
        <div
          *ngIf="categorySwitch === 'KZFzniwnSyZfZ7v7nn'"
          class="films-dropdown"
        >
          <select
            (change)="searchFilter()"
            name="films"
            id="films"
            formControlName="genreID"
          >
            <option value="">CHOOSE GENRE</option>
            <option *ngFor="let film of films" value="{{ film.id }}">{{
              film.name
            }}</option>
          </select>
        </div>
      </div>

      <!-- states dropdown -->
      <div class="form-group">
        <label>Choose an State</label>
        <select
          (change)="searchFilter()"
          matNativeControl
          formControlName="stateID"
          name="states"
          id="states"
        >
          <option>None</option>
          <option *ngFor="let state of states" value="{{ state.abbreviation }}">
            {{ state.name }}
          </option>
        </select>
      </div>

      <!-- country dropdowns -->
      <div class="form-group">
        <select
          (change)="searchFilter()"
          formControlName="countryID"
          name="countries"
          id="countries"
        >
          <option
            *ngFor="let country of countries"
            value="{{ country.Code | lowercase }}"
            >{{ country.Name }}</option
          >
        </select>
      </div>
      <!-- number of posts dropdown -->
      <div class="form-group">
        <select
          (change)="searchFilter()"
          formControlName="numberOfPosts"
          name="numberOfPosts"
          id="numberOfPosts"
        >
          <option *ngFor="let number of pageSize" value="{{ number }}">{{
            number
          }}</option>
        </select>
      </div>
    </div>
    <div class="form-footer">
      <button (click)="resetForm()">Reset Form</button>
    </div>
  </div>
  <!-- Entry to bucket List Page -->
  <button routerLink="/bucket-list">Bucket List</button>
</form>
