.form-body {
  border: 1px solid black;
  width: 100%;
  height: 300px;
  position: relative;
  padding: 25px;
}

.form-grid {
  display: grid;
}

.search-bar {
  grid-area: 1/1/2/4;
}

.number-select {
  grid-area: 1/4/2/5;
  align-self: center;
  margin: 0 20px;
  width: 50px;
}

.cat-select {
  grid-area: 2/1/3/3;
}

.genre-group {
  grid-area: 2/3/3/4;
}

.state-select {
  grid-area: 3/1/4/3;
}

.country-select {
  grid-area: 3/4/4/5;
}

.form-footer {
  grid-area: 4/1/5/4;
}

.reset-button {
  grid-area: 5/1/6/2;
  place-self: center center;
}

.bucket-button {
  grid-area: 5/4/6/5;
  place-self: center center;
}
