.crowd {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
img {
  opacity: 7%;
}
h3 {
  font-family: "Spartan", sans-serif;
  font-size: 100px;
  margin-left: 210px;
  margin-bottom: 50px;
  opacity: 65%;
}

.form-footer {
  margin-bottom: 20px;
}
.reset {
  margin-right: 20px;
  background: rgb(157, 11, 230);
  background: linear-gradient(
    37deg,
    rgba(157, 11, 230, 1) 6%,
    rgba(13, 238, 238, 1) 41%,
    rgba(59, 66, 63, 1) 69%
  );
}

.bucket {
  background: rgb(59, 66, 63);
  background: linear-gradient(
    37deg,
    rgba(59, 66, 63, 1) 31%,
    rgba(13, 238, 238, 1) 60%,
    rgba(157, 11, 230, 1) 95%
  );
}
