<form [formGroup]="filterForm">
  <!-- form wrapper-->
  <div class="form-container">
    <!-- form header -->
    <div class="form-header">
      <h3>Search Filters</h3>
    </div>
    <!-- all the search criteria -->
    <div class="form-body">
      <div class="form-group">
        <label for="searchBar">Search Bar</label>
        <input
          type="text"
          id="searchBar"
          class="formControl"
          formControlName="searchBar"
        />
      </div>
    </div>
  </div>
</form>

<div class="container">
  <form action="">
    <input
      [(ngModel)]="searchTerm"
      name="search"
      placeholder="Search Events..."
      (keyup.enter)="searchKeywords()"
      type="text"
    />
    <button class="btn btn-primary" (click)="searchKeywords()">
      Search
    </button>
  </form>

  <!-- misc dropdown -->
  <select name="misc" id="misc" (change)="getGenreID($event.target.value)">
    <option value="">CHOOSE GENRE</option>
    <option *ngFor="let x of misc" value="{{ x.id }}">{{ x.name }}</option>
  </select>

  <!-- sports dropdown -->
  <select name="sports" id="sports" (change)="getGenreID($event.target.value)">
    <option value="">CHOOSE GENRE</option>
    <option *ngFor="let x of sports" value="{{ x.id }}">{{ x.name }}</option>
  </select>

  <!-- music dropdown -->
  <select name="music" id="music" (change)="getGenreID($event.target.value)">
    <option value="">CHOOSE GENRE</option>
    <option *ngFor="let muse of music" value="{{ muse.id }}">{{
      muse.name
    }}</option>
  </select>

  <!-- arts & theatre dropdown -->
  <select
    name="artsTheatre"
    id="artsTheatre"
    (change)="getGenreID($event.target.value)"
  >
    <option value="">CHOOSE GENRE</option>
    <option *ngFor="let art of artsTheatre" value="{{ art.id }}">{{
      art.name
    }}</option>
  </select>

  <!-- films dropdown -->
  <select name="films" id="films" (change)="getGenreID($event.target.value)">
    <option value="">CHOOSE GENRE</option>
    <option *ngFor="let film of films" value="{{ film.id }}">{{
      film.name
    }}</option>
  </select>

  <!-- states dropdown -->
  <select (change)="getStateId($event.target.value)" name="states" id="states">
    <option *ngFor="let state of states" value="{{ state.abbreviation }}">
      {{ state.name }}
    </option>
  </select>

  <!-- countries dropdown -->
  <select
    (change)="getCountryID($event.target.value)"
    name="countries"
    id="countries"
  >
    <option *ngFor="let country of countries" value="{{ country.Code }}">{{
      country.Name
    }}</option>
  </select>

  <!-- pagesize dropdown -->
  <select
    (change)="getCategoryId($event.target.value)"
    name="numberOfPosts"
    id="numberOfPosts"
  >
    <option *ngFor="let number of pageSize" value="{{ number }}">{{
      number
    }}</option>
  </select>
  <div *ngFor="let segment of segments" class="checkboxes">
    <input
      (change)="getCategoryId($event.target)"
      type="checkbox"
      id="{{ segment.segment.id }}"
      name="{{ segment.segment.name }}"
      value="{{ segment.segment.id }}"
    />
    <label for="{{ segment.segment.id }}">{{ segment.segment.name }}</label>
  </div>
</div>
