.crowd {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
img {
  opacity: 7%;
}

.search-container {
  display: gird;
  grid-template-rows: 2, 1fr;
}
h3 {
  font-size: 100px;
  margin-left: 100px;
  margin-bottom: 50px;
  opacity: 65%;
}

.search-here {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

.explore-here {
  margin-left: 200px;
  margin-bottom: 80px;
}

button {
  border-radius: 5px;
  margin-left: 10px;
}
