.card-container {
  margin-bottom: 100px;
}
h3 {
  color: aliceblue;
}
a {
  color: aliceblue;
}

.city {
  color: aliceblue;
}
span {
  color: aliceblue;
}

img {
  height: 200px;
  width: 300px;
  border-radius: 100px;
  padding: 5px;
}
