.card-container {
  border: solid 1px aliceblue;
  border-radius: 20px;
  margin-right: 10px;
}

h3 {
  color: aliceblue;
  margin-left: 10px;
}

a {
  color: aliceblue;
  margin-left: 10px;
}

.city {
  color: aliceblue;
  margin-left: 10px;
}

span {
  color: aliceblue;
  margin-left: 5px;
}

@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .card-container {
    border: solid 1px aliceblue;
    border-radius: 20px;
    margin-right: 10px;
  }

  img {
    height: 200px;
    width: 300px;
    border-radius: 100px;
    padding: 5px;
  }
}
